<div class="card product-preview">
    <a href="#"><img src="../img/product_01.jpg" class="card-img-top" alt="alt"></a> 
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="product-price">999 р.</div>    
                <div class="product-discount">
                    <span class="discount-price">1399 р.</span>
                    <span class="discount-percent">-30%</span>
                </div>    
            </div>
            <div class="col-6 text-right">
                <a href="#" class="btn btn-primary">1</a>
                <a href="#" class="btn btn-secondary">2</a>
            </div>             
        </div>
        <a href="#" class="card-title">L.O.L. Surprise 556244 Мини кукла или питомец</a>
    </div>
    <div class="card-footer">
        звездочки
    </div>
</div>