<div class="card product-preview">
    <div class="badges-block">
        <img src="img/badges/best.svg" alt="Лучшая цена">
        <img src="img/badges/lego.svg" alt="Лего">
        <img src="img/badges/akcia.svg" alt="Акция">
        <img src="img/badges/hit.svg" alt="Хит">
        <img src="img/badges/iz_reklami.svg" alt="Из рекламы">
        <img src="img/badges/new.svg" alt="Новинка">
        <img src="img/badges/orig.svg" alt="Оригинал">
    </div>
    <a href="#"><img src="img/product_01.jpg" class="card-img-top" alt="alt"></a> 
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="product-price">999 р.</div>    
                <div class="product-discount">
                    <span class="discount-price">1399 р.</span>
                    <span class="discount-percent">-30%</span>
                </div>    
            </div> 
        </div>
        <a href="#" class="card-title">L.O.L. Surprise 556244 Мини кукла или питомец</a>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <a href="#" class="btn btn-buy">В корзину</a>
            <a href="#" class="btn btn-favorite ml-2"><i class="icon-close"></i></a>
        </div> 
    </div>
</div>