<div class="card product-preview">
    <div class="badges-block">
        <div><img src="img/badge_new.svg" alt=""></div>
        <div><img src="img/badge_lego.svg" alt=""></div>
    </div>
    <a href="#"><img src="img/product_01.jpg" class="card-img-top" alt="alt"></a> 
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="product-price">999 р.</div>    
                <div class="product-discount">
                    <span class="discount-price">1399 р.</span>
                    <span class="discount-percent">-30%</span>
                </div>    
            </div> 
        </div>
        <a href="#" class="card-title">L.O.L. Surprise 556244 Мини кукла или питомец</a>
    </div>
    <div class="card-footer">
        <!-- <span class="stars-rating">
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="far fa-star" aria-hidden="true"></i>
            <i class="far fa-star" aria-hidden="true"></i>
        </span>
        <span class="num-vote">17</span> -->
        <div class="text-right">
            <a href="#" class="btn btn-buy">В корзину</a>
            <a href="#" class="btn-favorite ml-2"><i class="far fa-heart"></i></a>
        </div> 

    </div>
</div>