<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center my-4 flex-nowrap" id="cart-steps">
            <div class="active"><i class="icon-basket_ring"></i><span>Корзина</span></div>
            <div class="separator"></div>
            <div class=""><i class="icon-profile_ring"></i><span>Данные</span></div>
            <div class="separator"></div>
            <div class=""><i class="icon-delivery_ring"></i><span>Доставка</span></div>
            <div class="separator"></div>
            <div class=""><i class="icon-cart_ring"></i><span>Оплата</span></div>
        </div>
    </div>
</div>