<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column footer-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Клуб скидок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Правила бонусной программы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Договор оферты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Журнал TOY.RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Скачать каталог TOY.RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Интерактивные игрушки</a>
                </li>
            </ul>            
        </div>
        <div class="col-3">
            <ul class="nav flex-column footer-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Благотворительный проект</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Реквизиты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контактная информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Аренда торговых площадей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Обзоры</a>
                </li>
            </ul>            
        </div>
        <div class="col-3">
            <ul class="nav flex-column footer-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Возврат товара</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Сервис</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Гарантия низкой цены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Как выбрать игрушку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Как купить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>            
        </div>
        <div class="col-3">
            Контакты
        </div>
    </div>
    <div class="row copyright-block my-4 text-center">
        <div class="col-4">
            <div>Все права защищены ООО «Той.ру» 2010-2019 г.</div>
        </div>
        <div class="col-4">
            <div>Электронная почта: <a href="mailto:info@toy.ru">info@toy.ru</a></div>
        </div>
        <div class="col-4">
            <div>©2019 Интернет-магазин игрушек TOY.RU</div>
        </div>
    </div>
</div>
<script src="js/main.min.js"></script>