<div class="top-line d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <div class="left-block d-flex">
                    
                    <a class="choice-city-block" href="#">Москва и МО</a>                

                    <div class="contacts-top-block">
                        <a href="tel:+78005002370">8 (800) 500-23-70</a>
                        <a href="tel:+74952152244">8 (495) 215-22-44</a>
                        <a class="feedback-link" href="#">Обратный звонок</a>
                    </div>          
                </div>
                <div class="right-block">
                    <div class="nav" id="top-menu">
                        <a class="nav-link" href="#">О компании</a>
                        <a class="nav-link" href="#">Обратная связь</a>
                        <a class="nav-link" href="#">Оптовикам</a>
                        <a class="nav-link" href="#">Оплата</a>
                        <a class="nav-link" href="#">Доставка</a>
                        <a class="nav-link" href="#">Магазины</a>
                    </div>            
                </div>                
            </div>


        </div>
    </div>    
</div>

<div class="container d-none d-lg-block">
    <div class="row align-items-center py-3">
        <div class="col-3 col-lg-2">
            <a href="/" class="logo">
                <img src="img/logo_toyru.svg" alt="Интернет магазин игрушек Toy.ru">
            </a>
        </div>
        <div class="col-lg-3 col-xl-4">
            <form class="form" id="top-search">
                <div class="input-group">
                    <div class="input-group-prepend border-0">
                        <button class="btn text-info"><i class="icon-magnifying-glass"></i></button>
                    </div>
                    <input type="search" placeholder="Искать..." class="form-control bg-none border-0">
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="d-flex flex-nowrap px-2 py-3" id="top-icon-menu">
                <a href="#" class="d-flex">
                    <i class="icon-delivery-truck"></i>
                    <span>Бесплатная доставка</span>
                </a>
                <a href="#" class="d-flex">
                    <i class="icon-startup"></i>
                    <span>Срочная доставка</span>
                </li>
                <a href="#" class="d-flex">
                    <i class="icon-discount-voucher"></i>
                    <span>Гарантия лучшей цены</span>
                </li>
            </div>  
        </div>
        <div class="col-lg-2">
            <div id="top-user">
                <a href="#"><i class="icon-profile"></i> Мой&nbsp;кабинет</a>
                <a href="#"><i class="icon-shopping-cart"></i> Корзина</a>
            </div>
        </div>
    </div>
</div>

<div class="container d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-fill" id="main-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-catalog-button" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-menu-options"></i> Каталог игрушек
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Конструкторы LEGO</a></li>
                        <li><a class="dropdown-item" href="#">Электромобили</a></li>
                        <li><a class="dropdown-item" href="#">Отдых и спорт</a></li>
                        <li><a class="dropdown-item" href="#">Бластеры Нерф</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Игровые наборы</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Минифигурки</a></li>
                                <li><a class="dropdown-item" href="#">Динозавры</a></li>
                                <li><a class="dropdown-item" href="#">Трансформеры</a></li>     
                            </ul>                                               
                        </li>
                        <li><a class="dropdown-item" href="#">Игрушки для малышей</a></li>
                        <li><a class="dropdown-item" href="#">Интерактивные игрушки</a></li>
                        <li><a class="dropdown-item" href="#">Конструкторы</a></li>
                        <li><a class="dropdown-item" href="#">Куклы и аксессуары</a></li>
                        <li><a class="dropdown-item" href="#">Мягкие игрушки</a></li>
                        <li><a class="dropdown-item" href="#">Настольные игры</a></li>
                        <li><a class="dropdown-item" href="#">Радиоуправляемые модели</a></li>
                        <li><a class="dropdown-item" href="#">Развивающие игры и хобби</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Транспорт</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Автотреки и машинки Hot Wheels</a></li>
                                <li><a class="dropdown-item" href="#">Коллекционные машинки</a></li>
                                <li><a class="dropdown-item" href="#">Летательные аппараты</a></li>     
                                <li><a class="dropdown-item" href="#">Железные дороги и паравозики</a></li>     
                            </ul>                              
                        </li>
                        <li><a class="dropdown-item" href="#">Всё для праздника</a></li>
                        <li><a class="dropdown-item" href="#">Косметика и аксессуары</a></li>
                        <li><a class="dropdown-item" href="#">Распродажа игрушек</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мальчики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Девочки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Возраст</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Бренды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Персонажи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Распродажа</a>
                </li>
            </ul> 

        </div>
    </div>
</div>

