<div class="top-line d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-xl-2">
                <div class="choice-city-block">
                    <span>Москва и МО</span>
                </div>
            </div>
            <div class="col-lg-2 col-xl-4">
                <div class="contacts-top-block">
                    <a href="tel:+78005002370">8 (800) 500-23-70;</a>
                    <a href="tel:+74952152244">8 (495) 215-22-44</a>                    
                </div>
            </div>
            <div class="col-lg-8 col-xl-6">
                <ul class="nav justify-content-end" id="top-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Обратная связь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Оптовикам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Доставка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Магазины</a>
                    </li>
                </ul>            
            </div>
        </div>
    </div>    
</div>

<div class="container d-none d-lg-block">
    <div class="row align-items-center py-4">
        <div class="col-3 col-lg-2">
            <a href="/" class="logo">
                <img src="../img/logo_toyru.svg" alt="Интернет магазин игрушек Toy.ru">
                <!-- <img src="../img/logo.png" alt="Интернет магазин игрушек Toy.ru"> -->
            </a>
        </div>
        <div class="col-6 col-lg-3">
            <form class="form">
                <div class="input-group border p-1">
                    <div class="input-group-prepend border-0">
                        <button id="button-addon" type="button" class="btn btn-link text-info"><i class="icon-magnifying-glass"></i></button>
                    </div>
                    <input type="search" placeholder="Искать..." aria-describedby="button-addon" class="form-control bg-none border-0">
                </div>
            </form>
        </div>
        <div class="d-none d-lg-block col-lg-5">
            <ul class="nav flex-nowrap p-2" id="top-icon-menu">
                <li class="nav-item d-flex align-items-center">
                    <i class="icon-delivery-truck" style="font-size: 3rem"></i>
                    <a class="nav-link" href="#">Бесплатная доставка</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="icon-startup" style="font-size: 3rem"></i>
                    <a class="nav-link" href="#">Срочная доставка</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <i class="icon-discount-voucher" style="font-size: 3rem"></i>
                    <a class="nav-link" href="#">Гарантия лучшей цены</a>
                </li>
            </ul>  
        </div>
        <div class="col-3 col-lg-2">
            <div class="nav flex-column">
                <a class="nav-link" href="#"><i class="icon-profile"></i> Мой кабинет</a>
                <a class="nav-link" href="#"><i class="icon-shopping-cart"></i> Корзина</a>
            </div>
        </div>
    </div>
</div>

<div class="container d-none d-lg-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-fill" id="main-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-catalog-button" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars"></i> Каталог игрушек
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown"><!--  show  -->
                        <li><a class="dropdown-item" href="#">Конструкторы LEGO</a></li>
                        <li><a class="dropdown-item" href="#">Электромобили</a></li>
                        <li><a class="dropdown-item" href="#">Отдых и спорт</a></li>
                        <li><a class="dropdown-item" href="#">Бластеры Нерф</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#">Игровые наборы</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Минифигурки</a></li>
                                <li><a class="dropdown-item" href="#">Динозавры</a></li>
                                <li><a class="dropdown-item" href="#">Трансформеры</a></li>     
                            </ul>                                               
                        </li>
                        <li><a class="dropdown-item" href="#">Игрушки для малышей</a></li>
                        <li><a class="dropdown-item" href="#">Интерактивные игрушки</a></li>
                        <li><a class="dropdown-item" href="#">Конструкторы</a></li>
                        <li><a class="dropdown-item" href="#">Куклы и аксессуары</a></li>
                        <li><a class="dropdown-item" href="#">Мягкие игрушки</a></li>
                        <li><a class="dropdown-item" href="#">Настольные игры</a></li>
                        <li><a class="dropdown-item" href="#">Радиоуправляемые модели</a></li>
                        <li><a class="dropdown-item" href="#">Развивающие игры и хобби</a></li>
                        <li><a class="dropdown-item" href="#">Транспорт</a></li>
                        <li><a class="dropdown-item" href="#">Всё для праздника</a></li>
                        <li><a class="dropdown-item" href="#">Косметика и аксессуары</a></li>
                        <li><a class="dropdown-item" href="#">Распродажа игрушек</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мальчики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Девочки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Возраст</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Бренды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Персонажи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Распродажа</a>
                </li>
            </ul> 

        </div>
    </div>
</div>

