<h3>Мой кабинет</h3>
<ul class="nav flex-column" id="lk-menu">
    <li class="nav-item">
        <a class="nav-link" href="lk-profile.html">Настройки профиля</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-history.html">История заказов</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-birthdays-children.html">Дни рождения детей</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-subscribe.html">Рассылки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-price-drop.html">Снижение цены</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-loyalty-program.html">Программа лояльности</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="lk-favorites.html">Избранное</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Выйти</a>
    </li>                            
</ul>