.rfs-title {
    @include font-size(4rem); //rfs
}

// rewrite bootstrap
.nav-pills {
    .nav-link {
        color: $toy-gray;
        font-size: 1.125rem;
        text-transform: uppercase;
        &:hover {
            color: $nav-pills-link-active-color;
            font-weight: bold;
        }
    }
    .nav-link.active,
    .show > .nav-link {
        color: $nav-pills-link-active-color;
        background-color: $nav-pills-link-active-bg;
        font-weight: bold;
    }
}

/* mobile navigation */
#mobile-icon-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid $toy-light-gray;
    z-index: 1030;
    backface-visibility: hidden;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    .nav-link {
        color: $toy-gray;  
        padding: .5rem .1rem;      
        i {
            font-size: 1.5rem;

        }
        div {
            font-size: .5rem;
        }
        img {
            width: 80px;
            height: 40px;
        }
    }
}
.slideout-open #mobile-icon-menu .nav-link.toggle-button {
    color: $toy-dark-orange;
}

/* slideout panel styles */
/* https://github.com/Mango/slideout */
body {
    width: 100%;
    height: 100%;
    margin-top: 55px;
}
.slideout-menu {
    position: fixed;
    top: 55px;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
    background-color: $toy-light-gray;
}
.slideout-menu {
    &-left {
        left: 0;
    }
    &-right {
        right: 0;        
    }
}
.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff; /* A background-color is required */
    min-height: 100vh;
}  
.slideout-open {
    &,
    body,
    .slideout-panel {
        overflow: hidden;
    }
}
.slideout-open .slideout-menu {
    display: block;
}
.panel:before {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease-in-out;
}
.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
}

#accordion-nav {
    .card {
        border: none;
        .card-header {
            .card-link {
                display: block;
                font-size: 1.25rem;
                color: $toy-dark-gray;
            }
        }
        .card-body {
            .nav {
                .nav-link {
                    font-size: 0.875rem;
                    font-size: 1rem;
                    color: $toy-dark-gray;
                    line-height: 1;
                }
            }
        }
    }
}

/* mobile search */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    z-index: 9999;
}
#search.open {
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}
#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 45px;
    margin-left: -80px;
    width: 160px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

/* header */
.top-line {
    background-color: $toy-light-gray;
    .choice-city-block {
        color: $toy-gray;
    }
    .contacts-top-block {
        a {
            font-size: 1rem;
            color: $toy-dark-gray;
            white-space: nowrap;
            padding: .5rem .5rem;
            &:hover {
                color: darken($toy-dark-gray, 10%);
                text-decoration: none;
            }
            &.feedback-link {
                color: $toy-gray;
                text-decoration: underline;
            }
        }
    }    
}

#top-menu {
    .nav-link {          
        font-size: 1rem;
        color: $toy-gray;
        padding: .5rem .4rem;
        &:hover {
            color: darken($toy-gray, 10%);
        }
    }
}

#top-search {
    .input-group {
        border: 1px solid $toy-other-gray;
        border-radius: $border-radius;
        .form-control:focus {
            box-shadow: none;
        }
    }
}

#top-icon-menu {
    background-color: $toy-light-gray;
    border-radius: $border-radius;
    a {
        align-items: center;
        i {
            font-size: 1.5rem;
            color: $toy-dark-gray;
        }
        span {          
            font-size: 0.875rem;
            line-height: 1;
            color: $toy-dark-gray;
            padding-left: .5rem;
        }
        &:hover {
            text-decoration: none;            
        }
        &:hover span,
        &:hover i {
            color: $toy-dark-orange;
        }
    }  
}

#top-user {
    a {
        display: block;
        color: $toy-dark-gray;
        padding: .2rem 0;
        i {
            color: $toy-orange;
        }
        &:last-child i {
            color: $toy-dark-orange;    
        }        
        &:hover {
            text-decoration: none;
        }
    }
}

#main-menu {
    .nav-item {
        .nav-link {   
            background-color: $toy-light-orange;             
            font-size: 1.125rem;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            padding: 0.875rem 1rem;
            transition: $nav-link-transition;
            &:hover {
                background-color: darken($toy-light-orange, 10%);
            }
        }
        #dropdown-catalog-button {
            background-color: $toy-dark-orange;
            &:hover {
                background-color: darken($toy-dark-orange, 10%);
            }
        }
        &:first-child {
            .nav-link {
                border-top-left-radius: 5px;               
                border-bottom-left-radius: 5px;               
            }        
        }
        &:last-child {
            .nav-link {
                border-top-right-radius: 5px;               
                border-bottom-right-radius: 5px;               
            }
        }                 
    }  
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu> a:after {
    content: "»";
    float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


/* card product preview */
.product-preview {
    border: 1px solid transparent;
    border-radius: $border-radius;
    height: 100%;
    &:hover {
        border: 1px solid $toy-other-gray;
    }
    .card-img-top {
        margin-top: 1.5rem;
    }
    .card-body {
        padding-bottom: 0;
        .card-title {
            display: block;
            font-size: 0.875rem;
            line-height: 1.2;
            color: $toy-gray;
            margin: .5rem 0;
        }
        .product-price {
            font-size: 1.125rem;
            color: $toy-dark-orange;
        }
        .product-discount {
            .discount-price {
                font-size: 1rem;
                text-decoration: line-through;
            }
            .discount-percent {
                font-size: 0.875rem;
                color: #fff;
                background-color: $toy-dark-orange;
                padding: 2px 4px; 
            }
        }
    }
    .card-footer {
        padding: 0 1.25rem .75rem 1.25rem;
        background-color: transparent;
        border: none;
        .stars-rating {
            font-size: 0.75rem;
            color: $toy-light-orange;
        }
        .num-vote {
            font-size: 0.75rem;
            margin-left: 1rem;
        }
        .btn-favorite {
            background-color: $toy-light-gray;
            color: $toy-dark-gray;
            font-size: 1.25rem;
            padding: .375rem .75rem;
            transition: $nav-link-transition;
            vertical-align: middle;
            &:hover {
                color: $toy-dark-orange; 
                text-decoration: none;               
            }
        }
        .btn-buy {
            background-color: $toy-other-gray;
            color: $toy-dark-gray;
            font-size: 0.875rem;
            padding: .375rem .75rem;
            transition: $nav-link-transition;       
            &:before {
                font-family: 'toy_font';
                content: "\e906";
                font-size: 1.25rem;
                padding-right: .5rem;
                vertical-align: -15%;
            }
            &:hover {
                background-color: $toy-dark-orange;
                color: #fff;
            }
        }
    }
    .badges-block {
        position: absolute;
        left: 0;
        top: 0;
        img {
            display: block;
            width: 76px;
            height: 23px;
            margin: .5rem 0;
        }
    }
}

/* footer */
#footer {
    .bottom-block {
        i {
            display: inline-block;
            font-size: 2rem;
            margin: 0 0 1.25rem .5rem;
        }
        .footer-menu {
            margin-bottom: 1rem;
            .nav-link {          
                font-size: 1.125rem;
                line-height: 1;
                color: $toy-dark-gray;
                padding: .5rem .5rem;
                &:hover {
                    color: darken($toy-dark-gray, 50%);
                }
            }  
        }
        .contacts-bottom-block {
            margin: 1rem .5rem;            
            a {
                display: block;
                font-size: 1.125rem;
                color: $toy-dark-gray;
                font-weight: bold;
                &:hover {
                    color: darken($toy-dark-gray, 10%);
                    text-decoration: none;
                }        
            }
        }
        .social-block {
            margin: 1rem .5rem;
            a {
                font-size: 1.5625rem;
                padding-right: .5rem;
                color: $toy-gray;
                &:hover {
                    text-decoration: none;
                }
                &.icon-vk-social-logotype:hover {
                    color: #5181b8;
                }
                &.icon-facebook-logo-button:hover {
                    color: #3b5998;
                }
                &.icon-odnoklassniki-logo:hover {
                    color: #ff8400;
                }
                &.icon-youtube:hover {
                    color: #ea0000;
                }
                &.icon-instagram-logo:hover {
                    color: #ff3870;
                }
            }
        }
        .payment-block {
            display: inline-block;
            width: 195px;
            img {
                margin: 0 .1rem;
            }
        }
        .awards-block {
            margin: 1rem .5rem;
        }              
    }
}

.copyright-block {
    font-size: 1rem;
    color: $toy-gray;
}

/* main page */
#mainpage-catalog-menu {
    .nav-item {
        .nav-link {          
            font-size: 1.125rem;
            line-height: 1;
            color: $toy-dark-gray;
            background-color: $toy-light-gray;
            margin-bottom: .5rem;
            padding: .5rem 1.5rem;
            border-radius: $border-radius;
            &:hover {
                color: $toy-dark-orange;
            }
        }
    }  
}

#mainpage-age-menu {
    .nav-item {
        margin-bottom: 1rem;
        .nav-link {          
            font-size: 1rem;
            color: $toy-dark-gray;
            background-color: $toy-light-gray;
            padding: .5rem .5rem;
            border-radius: $border-radius;
            transition: $nav-link-transition;
            white-space: nowrap;
            &:hover {
                color: #fff;
                background-color: $toy-light-orange;
            }
        }
    }  
}

#mainpage-age-menu-test {
    margin-bottom: 1rem;
    a {          
        font-size: 1.125rem;
        color: $toy-dark-gray;
        background-color: $toy-light-gray;
        padding: .5rem .5rem;
        border-radius: $border-radius;
        transition: $nav-link-transition;
        &:hover {
            color: #fff;
            text-decoration: none;
            background-color: $toy-light-orange;
        }
    }
}

#gift-picking-block {
    background-color: $toy-light-gray;
    h3 {
        font-size: 1.125rem;
        font-weight: bold;
        color: $toy-dark-gray;
        text-transform: uppercase;
    }
    .btn {
        // color: #fff;
        // font-size: 1.125rem;
        // text-transform: uppercase;        
    }
}
.gender-choice {
    .form-check-inline {
        padding-left: 1.5rem;
        margin-left: 1rem;
    }        
    .form-check-inline:last-child {
        margin-right: 0;
    }     
    input[type=checkbox] {
        position: absolute;
        left: -9999px;
        & + label {
            position: relative;
            display: block;
            color: $toy-gray;             
            cursor: pointer;
            // Checkbox setup
            &:before {
                display: block;
                content: "";
                position: absolute;
                left: -35px;
                top: -10px;
                width: 37px;
                height: 49px;
                filter: grayscale(100%);              
            }
        }
        &#checkbox-girl + label {
            &:before {
                background: url(../img/girl.svg) no-repeat;                       
            }
        }    
        &#checkbox-boy + label {
            &:before {
                background: url(../img/boy.svg) no-repeat;                       
            }
        }    
        // Checked
        &:checked + label {
            color: $toy-dark-orange;
            &:before {
                filter: none;
            }
        }
    }
}

.welcome-block {
    h1 {
        color: $toy-gray;
        font-size: 1.125rem;
        text-transform: uppercase;
    }
}

.subscribe-block {
    background: url(../img/subscribe_back.png) no-repeat;
    background-size: cover;
    .text-block {
        // font-size: 1.5rem;
        @include font-size(1.5rem);
        line-height: 1;
        color: $toy-dark-gray;
    }
    .form-control {
        border: transparent;
    }
    .btn {
        color: #fff;
        // font-size: 1.125rem;
        text-transform: uppercase;
    }
}

.news-block {
    .news-item {
        display: block;
        margin-bottom: 2rem;
        .date {
            display: inline-block;
            padding: .1rem .5rem;
            font-size: 1.125rem;
            color: $toy-dark-gray;
            background-color: $toy-other-gray;
            border-radius: $border-radius;
            margin-bottom: 1rem;
        }
        h5 {
            font-size: 1.125rem;
            color: $toy-dark-gray;
            font-weight: bold;                        
        }
        p {
            color: $toy-gray;
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
        &:hover h5 {
            text-decoration: underline;
        }
    }
}

/* product card */
#product-card {
    h1 {
        // font-size: 1.5rem;
        @include font-size(1.5rem);
    }
    .old-price {
        font-size: 1.125rem;
        color: $toy-gray;
        text-decoration: line-through;
    }
    .price {
        display: inline-block;
        font-size: 1.5rem;
        color: $toy-dark-gray;
        background-color: $toy-light-gray;
        padding: .1rem .5rem;
        border-radius: $border-radius;
    }
    .btn-buy {

    }
    .btn-favorite {
        border: 1px solid $toy-gray;
        color: $toy-gray;
        &:hover {
            border: 1px solid $toy-dark-orange;
            color: $toy-dark-orange;
        }
    }
    .discount {
        display: inline-block;
        font-size: 1.125rem;
        font-weight: bold;
        color: $toy-dark-orange;
    }
    .specification-block {
        .title {
            font-size: 1.125rem;
            text-transform: uppercase;        
        }        
        p {
            margin-bottom: 0;
            color: $toy-dark-gray;
            span {
                color: $toy-gray;
            }
        }
    }
    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .delivery-block {
        p {
            margin-bottom: 0;
            color: $toy-dark-gray;
            a {
                color: $toy-gray;
            }            
        }

    }
}

.counter {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    .counterBut {
        width: 28px;
        height: 28px;
        background-color: $toy-other-gray;
        color: $toy-dark-gray;
        border: 1px solid transparent;
        border-radius: 50%;
        font-weight: bold;
        &:hover {
            background-color: darken($toy-other-gray, 10%);
        }
    }
    .fieldCount {
        width: 45px;
        border: 1px solid $toy-other-gray;   
        text-align: center;     
    }
}

.stars-rating {
    i {
        color: $toy-orange;
    }
}

#card-nav {
    background-color: #fff;
    .nav {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);        
        .nav-link {
            font-size: 1.125rem;
            text-transform: uppercase;
            color: $toy-gray;
            &:first-child {
                padding-left: 0;
            }
            &.active, &:hover {
                color: $toy-dark-gray;
            }
        }
                
    }

}
.card-section {
    &:before {
        height: 54px;
        content: "";
        display: block;    
    }
    .title {
        font-size: 1.125rem;
        text-transform: uppercase;        
    }
}
.review-block {
    .review-name {
        font-size: 1.125rem;
    }
    .review-date {
        font-size: 1rem;
        color: $toy-gray;
    }
    .product-stars {
        margin-bottom: .5rem;
    }
    .review-text {
        font-size: 1rem;        
    }
}

/* catalog category css */
.category-img {
    background: url(../img/catalog/cat_02_new.png), linear-gradient(to bottom, #ffffff 30%, #ffeaf6 70%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 200px;
    &:hover {
        text-decoration: none;
    }
    .name-layer {
        font-size: 0.875rem;
        line-height: 1;
        color: $toy-gray;
        margin: .5rem;     
    }

}


/* cart css */
#cart-steps {
    div {
        display: flex;
        align-items: center;
        color: $toy-gray;        
        i {
            font-size: 3rem;
        }        
        span {
            font-size: 1.125rem;
        }        
        &.active {
            color: $toy-light-orange; 
            span {
                color: $toy-dark-gray;
            }
        }
    }
    .separator {
        border-bottom: 1px solid $toy-other-gray;
        margin-bottom: -5px;
        width: 100%;
        margin: 0 10px;
    }
}

/* cart step 1 css */
.cart-item {
    border: 1px solid transparent;
    padding: 1.5rem;  
    h3 {
        font-size: 1.125rem;
        font-weight: bold;
        color: $toy-dark-gray;
        margin-bottom: 1rem;
    }
    div {
        color: $toy-gray;
        span {
            color: $toy-dark-gray;
        }
    }
    [class^="icon-"] {
        color: $toy-gray;
        font-size: 1.5rem;
        &:hover {
            text-decoration: none;
        }
    }
}
.cart-item:hover {
    border: 1px solid $toy-other-gray;
    border-radius: $border-radius;
}

.one-click-block {
    background-color: $toy-light-gray;
    border-radius: $border-radius;
    p {
        font-size: 0.75rem;
        color: $toy-dark-gray;
        margin-bottom: 0;        
    }
    [data-toggle] {
        color: $toy-dark-gray;
        font-size: 1.125rem;
        &:after {
            content: "↑";
        }
        &.collapsed:after {
            content: "↓";
        }
        &:before {
            font-family: 'toy_font';
            content: "\e919";
            color: $toy-dark-orange;
        }
        &:hover {
            text-decoration: none;
        }

    }
}
.checkout-block {
    background-color: $toy-light-gray;
    border-radius: $border-radius;
    p {
        font-size: 0.75rem;
        color: $toy-gray;
        margin-bottom: 0;
        &.total-text {
            font-size: 1.125rem;
            color: $toy-dark-gray;
        }
    }    
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 12px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}
.form-control:focus+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}




/* other css */
.page-title {
    @include font-size(1.5rem);
    color: $toy-dark-gray;
    text-transform: uppercase;
    padding-bottom: .5rem;
    border-bottom: 1px solid $toy-other-gray;
    margin-bottom: 2rem;
}

.pagination {
    .page-link {
        font-size: 1.125rem;
    }
}

.sorting-block {
    font-size: 1rem;
    color: $toy-gray;
    span {
        margin-right: .5rem;
        &:after {
            content: "↓";
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.toy-orange {
    color: $toy-orange!important;
}

.orange-link {
    font-size: 1.125rem;
    color: $toy-dark-orange;
    border-bottom: 1px dotted $toy-dark-orange;
    &:hover {
        text-decoration: none;
        color: $toy-dark-orange;
        border: none;
    }
}
.gray-link {
    font-size: 1rem;
    color: $toy-gray;
    border-bottom: 1px dotted $toy-gray;
    &:hover {
        text-decoration: none;
        color: $toy-gray;
        border: none;
    }
}

.dark-gray-link {
    display: inline-block;
    font-size: 1rem;
    color: $toy-dark-gray;
    border-bottom: 1px dotted $toy-dark-gray;
    margin-bottom: 1rem;
    text-decoration: none;
    &:hover {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: $toy-dark-gray;
    }
}

.btn-toy-gray {
    font-weight: 1rem;
    color: $toy-dark-gray;
    background-color: $toy-light-gray;
    padding: .125rem 1rem;
    &:after {
        content: '»';
        margin-left: .5rem;
    }
    &:hover {
        color: #fff;
        background-color: $toy-dark-gray;    
        transition: $nav-link-transition;    
    }
    &:focus,
    &.focus {
        box-shadow: none;
    }
}

/* media query */
@include media-breakpoint-up(lg) {
    body {
        margin-top: 0;
    }
}

@include media-breakpoint-down(md) {
    .cart-item {
        .border-right {
            border: none!important;
        }
    }
}

@include media-breakpoint-down(xl) {
    #main-menu {
        .nav-item {
            .nav-link {
                font-size: 1rem;
                padding: 0.875rem .5rem;
            }             
        }
    }
}

@include media-breakpoint-down(sm) {
    .nav-pills {
        .nav-link {
            font-size: 1rem;
        }
    }
    .copyright-block {
        font-size: 0.75rem;
        color: $toy-gray;
    }
    #cart-steps {
        div {
            span {
                display: none;
            }        
            &.active {
                span {
                    display: block;
                }
            }
        }
        .separator {
            display: none;
        }
    }

}

@include media-breakpoint-between(sm, md) {

}

// icons system
  @font-face {
    font-family: 'toy_font';
    src:  url('../fonts/toy_font.eot?wlo1r');
    src:  url('../fonts/toy_font.eot?wlo1r#iefix') format('embedded-opentype'),
      url('../fonts/toy_font.ttf?wlo1r') format('truetype'),
      url('../fonts/toy_font.woff?wlo1r') format('woff'),
      url('../fonts/toy_font.svg?wlo1r#toy_font') format('svg');
    font-weight: normal;
    font-style: normal;
  }  
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'toy_font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-magnifying-glass:before {
    content: "\e900";
  }
  .icon-menu-options:before {
    content: "\e901";
  }
  .icon-more-details-circular-button:before {
    content: "\e902";
  }
  .icon-odnoklassniki-logo:before {
    content: "\e903";
  }
  .icon-profile:before {
    content: "\e904";
  }
  .icon-share:before {
    content: "\e905";
  }
  .icon-shopping-cart:before {
    content: "\e906";
  }
  .icon-simple-crown-outline:before {
    content: "\e907";
  }
  .icon-star_color:before {
    content: "\e908";
  }
  .icon-star_contur:before {
    content: "\e909";
  }
  .icon-startup:before {
    content: "\e90a";
  }
  .icon-tag:before {
    content: "\e90b";
  }
  .icon-vk-social-logotype:before {
    content: "\e90c";
  }
  .icon-youtube:before {
    content: "\e90d";
  }
  .icon-batman:before {
    content: "\e90e";
  }
  .icon-delivery-truck:before {
    content: "\e90f";
  }
  .icon-discount-voucher:before {
    content: "\e910";
  }
  .icon-duck:before {
    content: "\e911";
  }
  .icon-facebook-logo-button:before {
    content: "\e912";
  }
  .icon-heart:before {
    content: "\e913";
  }
  .icon-info:before {
    content: "\e914";
  }
  .icon-list:before {
    content: "\e915";
  }
  .icon-arrow_left:before {
    content: "\e916";
  }
  .icon-arrow_right:before {
    content: "\e917";
  }
  .icon-instagram-logo:before {
    content: "\e918";
  }
  .icon-phone-receiver:before {
    content: "\e919";
  }
  .icon-profile_ring:before {
    content: "\e91a";
  }
  .icon-basket_ring:before {
    content: "\e91c";
  }
  .icon-delivery_ring:before {
    content: "\e91b";
  }
  .icon-cart_ring:before {
    content: "\e91d";
  }
  .icon-add-song:before {
    content: "\e91e";
  }
  .icon-remove:before {
    content: "\e91f";
  }
  .icon-battery:before {
    content: "\e920";
  }
  .icon-close:before {
    content: "\e921";
  }
  .icon-down-arrow:before {
    content: "\e922";
  }
  .icon-right-arrow:before {
    content: "\e923";
  }
  .icon-left-arrow:before {
    content: "\e924";
  }